---
import CornerOrnament from '@components/CornerOrnament.astro';

interface Subclass {
  name: string;
  description: string;
}

interface Props {
  title: string;
  description: string;
  subclasses: Subclass[];
  index: number;
  active?: boolean;
}

const { title, description, subclasses, index, active = false } = Astro.props;
---

<div
  class:list={['class-text layer bg-background/40 backdrop-blur-sm p-10 outline-1 outline-primary-700/30 outline-offset-6 border-primary-500/40 border-1', active && 'is-active']}
  data-index={index}
>
  <CornerOrnament size={34} />
  <h3 class="title-2 text-primary-100 mb-4">{title}</h3>
  <p class="text-foreground-500 font-body text-sm leading-relaxed mb-6">{description}</p>
  <div class="flex flex-col gap-3">
    {subclasses.map(sub => (
      <div class="border border-primary-700/30 p-4">
        <p class="font-display text-md text-primary-300 uppercase   mb-1">{sub.name}</p>
        <p class="text-foreground-300 font-body text-sm leading-relaxed">{sub.description}</p>
      </div>
    ))}
  </div>
</div>
